@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");

*{
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content: center;
    font-family: PT Mono, sans-serif;
    background:-webkit-linear-gradient(90deg,#222831 20%,#a2b0c9 20% ,#30475e 80%,#222831 80%);
}
.game-container{
    margin:2%;
    width:35%;
    height:90%;
    position:relative;
    background:white;
    border-radius: 5px;
    border: 1px solid #30475e;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
    user-select: none;
}
.header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:#a2b0c9;
    padding:3px;
    text-align: center;
    text-transform: uppercase;
    font-family: Oxanium, sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 5px 8px #43484e;
}
.card{
    margin:5px auto 10px;
    height:75%;
}
input[type='radio']{
    opacity:0;
    width:100%;
    height:10%;
    cursor:pointer;
    z-index:2;
}
.selection-container{
    top:10px;
    position:relative;
}
.radio-container{
    width:80%;
    margin:5px auto 10px;
    cursor:pointer;
    border:2px solid #222831;
    border-radius: 5px;
    height:85px;
}
label{
    left:20px;
    top:20px;
    font-size:20px;
    position:relative;
}
.selected-label{
    background:#a2b0c9;
    color:white;
    /* transform: scale(1.05); */
}
.best-score{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size:15px;
    top:-35px;
    position:relative;
    left:90px;
}
.best-score span:last-child{
    font-size:15px;
}
.footer{
    margin-top:8%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background:#a2b0c9;
    padding:10px;
    text-align: center;
    height:50%;
}
button{
    cursor:pointer;
    height:50px;
    border-radius: 5px;
    font-size:20px;
    font-family:Oxanium,sans-serif;
    color:black;
    border:none;
    outline:none;
}
button:hover{
    filter:brightness(110%);
}
button:active{
    transform:scale(0.99);
}
.countdown{
    margin-top:35%;
    font-size:100px;
    font-weight: 3;
    text-align: center;
    user-select: none;
    cursor:pointer;
}
.question-container{
    height:400px;
    overflow-y: scroll;
    position:relative;
    -ms-overflow-style:none;
}
.question-container::-webkit-scrollbar{
    display:none;
}
.question{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    height:55px;
    margin:0 50px;
    user-select: none;
}
.selected-question{
    background:#a3b0c7;
    position:fixed;
    top:275px;
    z-index:1;
    width:445px;
    height:60px;
    opacity:0.5;
}
.height-240{
    height:170px;
    width:100%;
}
.height-500{
    height:500px;
    width:100%;
}
.game-buttons{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background:#5c6e91;
    padding:11.5px;
    text-align: center;
}
.wrong{
    width:40%;
    background:rgb(228, 64, 64);
    margin-right:25px;
}
.right{
    width:40%;
    background:rgb(65, 156, 65);
}
.glyphicon{
    margin-right:5px;
}
.score-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin-top: 15%;
    font-size:40px;
}
.total-time{
    font-size:100px;
    margin:0;
    color:rgb(65,156,65);
}
.base-time{
    margin-top:20px;
    margin-bottom: 0;
    font-size:20px;
}
.penalty-time{
    color:rgb(228,64,64);
    font-size:20px;
}
.score-footer{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top:13.5%;
    width:100%;
    height:90px;
    display:flex;
    justify-content: center;
    background:#a3b0c7;
}
.play-again{
    width:60%;
    margin-top: 5%;
}
@media screen and (max-width:500px){
    .game-container{
        width:85vw;
        margin-top:25%;
        height:70%;
    }
    .selected-question{
        width:350px;
    }
}